body {
  font-family: iranyekan;
  direction: rtl;
  text-align: right;
}
area {
  size: none;
}

//  ------------- Public Class  -------------

.carousel {
  margin-bottom: $margin-bottom;
}

.box {
  background-color: #fff;
  margin-bottom: $margin-bottom;
  border: #eee 1px solid;
  float: right;
  width: 100%;
  box-shadow: 0 0 10px 3px #efefef;
  h3,
  .description,
  .info {
    padding: 10px 15px;
  }

  h3 {
    font-size: 1em;
    background: #ececec;
    font-weight: 600;
  }
  .description {
    text-align: justify;
    padding-bottom: 0;
  }
  .info {
    display: flex;
    float: left;
    padding-top: 10px;
    font-size: 0.9em;
  }
}

.break-line {
  width: 90%;
  display: table;
  margin: 0 auto;
  height: 1px;
  background-color: #444;
}

.header-page {
  width: 100%;
  float: right;
  padding: 30px;
  background: #666;
  color: #b8b8b8;
  text-align: center;
  margin-bottom: $margin-bottom;
}

.Fade-in-Out {
  opacity: 1;
  animation: fade 2s linear;
  animation-iteration-count: infinite;
}

@-webkit-keyframes fade {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@-moz-keyframes fade {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@keyframes fade {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

//  ------------- Header Layout  -------------

.navbar-toggler {
  background: #eee;
}

.headroom {
  padding-bottom: 0;
}

.navbar-expand-lg {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}
.headroom {
  will-change: unset;
}

.navbar-light .navbar-toggler {
  outline: none;
}
.navbar-collapse {
  border-bottom: solid 1px #eee;
  // margin: 0 -15px;
  .navbar-nav {
    padding: 0;
    .nav-link {
      font-family: unset;
      margin: 0;
      text-align: right;
      padding: 7px;
    }
    .nav-item {
      &::first-child {
        margin-right: 0;
      }
    }
  }
  .dropdown-menu .dropdown-item {
    text-align: right;
  }
  .navbar-search {
    position: relative;
    float: left;

    &.form-group {
      margin-bottom: 0;
    }
    .btn {
      position: absolute;
      top: 0;
      left: 0;
      background: #eee;
      padding: 12px 8px;
      // @include border-radius(0px);
      &:hover {
        // @include transition(all 0.3s);
        //@include transform(unset);
        // @include box-shadow(unset)
      }
    }
    .form-control {
      padding-left: 74px;
      border: solid 1px #eee;
      // @include border-radius("0px");
      @include bp("underdesktop") {
        width: 100%;
      }
    }
  }
}
.collapse-brand {
  img {
    max-width: 70px;
    max-height: 70px;
  }
}

.navbar-toggler-icon {
  i {
    font-size: 36px;
    position: relative;
    top: -3px;
  }
}
.banner {
  margin-top: $margin;
  padding: 5px;
  .logo {
    padding: 8px;
    img {
      max-width: 70px;
      max-height: 70px;
      float: right;
    }
    div {
      float: right;
      font-size: 18px;
      font-weight: bold;
      margin-right: 10px;
      &.first {
        color: #218096;
        margin-top: 8px;
      }
    }
  }
  .gif {
    background: #eee;
    width: 100%;
    height: 90px;
    float: right;
  }
}
.other-menu {
  margin-top: $margin;
  background: #f14f7e;
  .navbar-nav {
    display: unset;
    flex-direction: unset;
    list-style: none;
    padding-right: 0;
    .nav-link {
      font-family: unset;
      color: #fff;
      padding: 15px 5px;
    }
    .dropdown-menu {
      position: absolute;
    }
  }
  .dropdown-menu {
    left: unset;
    right: 0;
    .dropdown-item {
      text-align: right;
    }
    &::before {
      left: unset;
      right: 20px;
    }
  }
}
.border {
  padding: 20px;
  border: #eee 1px solid;
}

.main,
.member,
.view-member {
  margin-top: $margin-top;
  .side-right,
  .side-left {
    min-height: 400px;
  }
  .intro {
    h3 {
      background-color: #005e91;
      color: #fff;
    }
  }
  .workshop {
    h3 {
      background-color: #c2da46;
    }
  }
  .remained {
    h3 {
      background-color: #626262;
      color: #fff;
    }
    .description {
      padding-bottom: 15px;
      .item {
        margin-bottom: 10px;
        padding-bottom: 10px;
        width: 100%;
        float: right;
        border-bottom: 1px solid #eee;
        .date {
          color: #b8b8b8;
        }
        a {
          width: 100%;
          float: right;
          color: #5ec08d;
          font-weight: 100;
          .badge-success {
            padding: 4px 14px;
            color: #fff;
            background-color: #5ec08d;
          }
        }
        &:last-child {
          border-bottom: none;
          padding-bottom: none;
        }
      }
    }
  }
}

.main-list {
  padding: 10px 15px;
  .title {
    padding: 10px 15px;
    color: #005e91;
    font-weight: 600;
  }
  .item {
    padding-right: 50px;
    float: right;
    width: 100%;
    h4 {
      font-size: 1em;
      span {
        &:last-child {
          color: #b8b8b8;
        }
        &:first-child {
          &:hover {
            color: #f14f7e;
            font-weight: 600;
          }
        }
      }
      &::before {
        content: "_";
        position: relative;
        top: -3px;
      }
      &:hover {
        &::before {
          color: #f14f7e;
          font-weight: 600;
        }
      }
    }
  }
  .info {
    color: #005e91;
  }
}
.news-list {
  padding: 10px 15px;

  h5 {
    font-size: 1em;
    padding-right: 15px;
    span {
      &:last-child {
        color: #b8b8b8;
      }
      &:first-child {
        &:hover {
          color: #f14f7e;
          font-weight: 600;
        }
      }
    }
  }
}

//  ------------- Footer Layout  -------------

footer {
  background: #c7c7c7;
  margin-top: $margin-top;
  width: 100%;
  float: right;
  padding: 30px 0;

  .logo {
    img {
      -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
      filter: grayscale(100%);
      display: table;
      margin: 0 auto;
      max-width: 70px;
      max-height: 70px;
    }
    div {
      text-align: center;
      font-size: 18px;
      font-weight: 600;
      &.first {
        color: #218096;
        margin-top: 10px;
      }
    }
  }
  ul {
    li {
      list-style: none;
      margin-bottom: 10px;
      a {
        color: #333;
        font-weight: 600;
        &:hover {
          color: #f14f7e;
        }
      }
    }
  }
}

// ------------- Memebr Page  -------------

.member,
.view-member {
  .box {
    min-height: 292px;
    .description {
      min-height: 190px;
    }
    .item {
      padding: 0;
      h4 {
        font-size: 0.9em;
      }
    }
  }
}

.memeber-box {
  margin: $margin-top 0 0 0;
  min-height: 230px;
  background-color: hsla(0, 0%, 99%, 0.30980392156862746);
  // box-shadow: 0 0 20px 1px #f5f5f5 !important;
  overflow: hidden;

  text-align: center;
  padding: 15px;

  .pic {
    display: table;
    margin: 0 auto;
    box-shadow: 0 0 20px 1px #f5f5f5 !important;
    width: 120px;
    height: 120px;
    overflow: hidden;
    position: relative;
    margin: 30px auto;
    border-radius: 100%;
    border: 5px solid #ececec;
    img {
      width: 120px;
      height: 120px;
    }

    .icon {
      color: #cacaca;
      font-size: 2.6em;
      margin: 30px auto;
    }
  }
  .persona {
    position: relative;
    &::before {
      position: absolute;
      z-index: -1;
      bottom: -136px;
      right: -92px;
      width: 127%;
      height: 279px;
      content: "";
      background: #fafafa94;
      transform: rotate(167deg);
    }
    .name {
      font-weight: 600;
      font-size: 1.4em;
      color: #333;
      z-index: 1;
      &:hover {
        color: #f14f7e;
      }
    }
    p {
      margin: 0;
      font-size: 0.9em;
      z-index: 1;
    }
  }
}

// ------------- About Us Page  -------------

.about-us-bg {
  background: url("../../../../assets/img/theme/anjoman.jpg") center center no-repeat;
  background-size: cover;
  height: 156px;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 15px;
    width: calc(100% - 30px);
    height: 156px;
    background: rgba(51, 51, 51, 0.55);
  }
}

.breadcrumb {
  background: #333;
  margin: 0;
  border-radius: 0;
  .breadcrumb-item {
    padding-left: 0;
    a {
      color: #bbbbbb;
      &:hover {
        color: white;
      }
    }
    &.active {
      color: #6e6e6e;
    }
    &::before {
      padding-left: 0.5rem;
      color: #9e9e9e;
    }
  }
}

// ------------- View Member Page  -------------

.information {
  .pic {
    width: 100%;
    background: #bbbbbb;
    border: 5px solid #ececec;
    box-shadow: 0 0 20px 1px #f5f5f5 !important;
    img {
      width: 100%;
    }
  }
  .lbl {
    font-size: 2em;
    span {
      &:first-child {
        margin-top: $margin-top;
        color: #444;
        font-weight: 600;
      }
    }
  }
}

// ------------- WorkShop Page  -------------
.workshop-list {
  .item {
    padding: 15px 0;
    margin: 0 15px;
    border-bottom: 1px solid #eeeeee;
    margin-bottom: $margin-bottom;

    &:last-child {
      border-bottom: none;
    }
    .title {
      min-height: 150px;
      margin-bottom: $margin-bottom;
      a,
      h2 {
        font-size: 1.1em;
        color: #333;
        font-weight: 600;
        &:hover {
          color: #f14f7e;
        }
      }
    }
    .details {
      font-size: 0.9em;
    }
    .capacity {
      .badge-warning {
        background: #f14f7e;
        color: #fff;
      }
    }
    .pic {
      display: table;
      margin: 0 auto;
      box-shadow: 0 0 20px 1px #f5f5f5 !important;
      width: 100%;
      height: 120px;
      overflow: hidden;
      position: relative;
      margin: 10px auto;
      background: #ececec;
      border: 5px solid #ececec;
      img {
        width: 100%;
      }

      .icon {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 2.6em;
        margin: 5px 5px 0 0;
        color: #cacaca;
        display: table;
        transform: translate(-50%, -50%);
      }
    }
  }
}

.page-item {
  .page-link,
  span {
    width: unset !important;
    height: unset !important;
    min-width: 36px;
    min-height: 36px;
    padding: 5px;
    border-radius: 0 !important;
  }
  &.active {
    .page-link {
      background-color: #005e91;
    }
  }
}

// ------------- contact Us Page  -------------
.contact-us {
  .item {
    padding: $margin;
  }
}
// ------------- contact Us Page  -------------
.login {
  .box {
    padding: 75px 0;
    .item {
      padding: $margin;
    }
  }
}
.bold {
  font-weight: bold;
}

.c-blue {
  color: #005e91;
}

.c-green {
  color: #1aae6f;
}

.c-red {
  color: #f14f7e;
}
.p-all {
  padding: $margin-bottom;
}
.p-t-none {
  padding-top: 0;
}
.m-t {
  margin-top: $margin-top;
}

// @media (min-width: 1200px) {
//   .container {
//     max-width: 1200px;
//   }
// }

// ------------- Form Control  -------------
.form-group{
  position: relative;
  margin-bottom: 1.7rem;
  .form-control {
    border-radius: 0px;
    &.error{
      border: #f34747 1px solid;
    }
  }
  label{
    &.error{
      position: absolute;
      left: 0;
      color: rgb(243, 71, 71);
      font-size: 0.7em;
    }
  }
}


.btn-custom {
  width: 100%;
  background: #f14f7e;
  border: none;
  border-radius: 0px;
  &:hover {
    background: #d32456;
  }
}

.custom-control-label {
  &::before,
  &::after {
    right: 0;
  }
  span {
    right: 30px;
  }
}
.custom-control-input:not(:disabled):active ~ .custom-control-label::before {
  border: #d32456;
  background: #d32456;
}
